<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pm2.5資訊</title>
</head>
<style>
    body {
        background-color: brown;
        text-align: center;
        color: rgb(10, 0, 48);
    }

    table {
        width: 40%;
        margin: 0 auto;
    }

    tr {
        background-color: rgb(202, 235, 224);
    }

    td {
        background-color: rgb(0, 217, 255);
    }

    @media screen and (max-width:1024px) {
        table {
            width: 90%;
        }
    }



    #roload-sec {
        width: 30px;
    }

    .fun {
        padding: auto;
    }
</style>

<body>
    <h1>pm2.5 數據</h1>
    <h2>目前時間 : {{data["today"]}}</h2>
    <a href="/">回首頁</a>
    <a href="">重新讀取</a>
    <p>
    <div class="fun">
        <input type="checkbox" name="" id="check-reload">
        開啟
        <input type="number" id="roload-sec" value="30">秒數
    </div>



    </p>
    <form action="" method="POST">


        <select name="sort" id="sort">
            <option value="true">升</option>
            <option value="false">降</option>
        </select>
        <button type="submit">排序</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                {% for th in data["columns"] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tr in data["values"] %}
            <tr>
                {% for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        const checkReload = document.querySelector("#check-reload")
        const reloadSecond = document.querySelector("#roload-sec")
        const delaySecond = 30


        window.onload = function () {
            checkReload.checked = sessionStorage.getItem("checkReload") == "true";
            reloadSecond.value = sessionStorage.getItem("reloadSecond") ? sessionStorage.getItem("reloadSecond")
                : delaySecond
            SetUpdateInterval();
        };



        checkReload.addEventListener("change", () => {
            //儲存
            sessionStorage.setItem("CheckReload", checkReload.checked);
            SetUpdateInterval();
        });

        reloadSecond.addEventListener('input', () => {
            checkReload.checked = false
            sessionStorage.setItem("CheckReload", checkReload.checked);
            sessionStorage.setItem("ReloadSecond", reloadSecond.value);
        });


        let intervalId = null



        function SetUpdateInterval() {
            if (checkReload.checked) {
                console.log("start reload");
                let sec = Number(reloadSecond.value) * 1000;
                intervalId = setInterval((() => {
                    window.location.reload()
                }), sec);
            } else {
                clearInterval(intervalId)
            }

        };










        checkReload.addEventListener("change", () => {
            console.log(checkReload.checked, reloadSecond.value);

            sessionStorage.setItem("checkReload", checkReload.checked);
            sessionStorage.setItem("reloadSecond", reloadSecond.value);

            const sortBtn = document.querySelector("button");
            console.log(sortBtn)
        })

    </script>
</body>

</html>